{% extends 'ju_base.html' %}
{% block header_text %}所有凑单活动{% endblock %}
{% block location_form %}
{% endblock %}
{% block ju_form %}
{% endblock %}
{% block extra_content %}
<h3>当前凑单活动</h3>
    <table id="id_jus_list" class="table">
	<tr>
		<th>活动说明</th>
		<th>活动范围</th>
		<th>截止时间</th>
		<th>活动状态</th>
		<th>活动类型</th>
		<th>管理人</th>
		<th>操作</th>
	</tr>
	{% load tz %}
	{% for ju in request.user.active_jus %}
	<tr>
		<td style='text-align: center'>{{ju.address}}</td>
		<td style='text-align: center'>{{ju.location.name}}</td>
		<td style='text-align: center'>{{ju.stop_date_time|date:'Y-m-d H:i'}}</td>
		<td style='text-align: right'>{{ju.status_name}}</td>
		<td style='text-align: right'>{{ju.ju_type_name}}</td>
		<td style='text-align: right'>{{ju.owner.display_name}}</td>
		<td style='text-align: center'>
		    <a href="{% url 'order' ju.id %}" class="btn btn-info">
				下单
		    </a>
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td style='text-align: center'>购物清单</td>
		<td style='text-align: center'></td>
		<td style='text-align: right'></td>
		<td style='text-align: right'></td>
		<td style='text-align: right'>{{request.user.display_name}}</td>
		<td style='text-align: center'><a href="{% url 'order' 9999999 %}">凑着玩</a></td>
	</tr>
    </table>
<h3>历史凑单活动</h3>
    <table id="id_jus_list" class="table">
	<tr>
		<th>活动说明</th>
		<th>活动范围</th>
		<th>截止时间</th>
		<th>活动状态</th>
		<th>活动类型</th>
		<th>管理人</th>
		<th>操作</th>
	</tr>
	{% load tz %}
	{% for ju in request.user.closed_jus %}
	<tr>
		<td style='text-align: center'>{{ju.address}}</td>
		<td style='text-align: center'>{{ju.location.name}}</td>
		<td style='text-align: center'>{{ju.stop_date_time|date:'Y-m-d H:i'}}</td>
		<td style='text-align: right'>{{ju.status_name}}</td>
		<td style='text-align: right'>{{ju.ju_type_name}}</td>
		<td style='text-align: right'>{{ju.owner.display_name}}</td>
		<td style='text-align: center'>
		    <a href="{% url 'order' ju.id %}" class="btn btn-info">
		    		查看
		    </a>
		</td>
	</tr>
	{% endfor %}
    </table>
 <h3>我创建的凑单活动</h3>
    <table id="id_jus_list" class="table">
	<tr>
		<th>活动说明</th>
		<th>活动范围</th>
		<th>截止时间</th>
		<th>活动状态</th>
		<th>活动类型</th>
		<th>管理人</th>
		<th>操作</th>
	</tr>
	{% load tz %}
	{% for ju in request.user.ju_set.all %}
	<tr>
		<td style='text-align: center'>{{ju.address}}</td>
		<td style='text-align: center'>{{ju.location.name}}</td>
		<td style='text-align: center'>{{ju.stop_date_time|date:'Y-m-d H:i'}}</td>
		<td style='text-align: right'>{{ju.status_name}}</td>
		<td style='text-align: right'>{{ju.ju_type_name}}</td>
		<td style='text-align: right'>{{ju.owner.display_name}}</td>
		<td style='text-align: center'>
		    <a href="{% url 'order' ju.id %}" class="btn btn-info">
				下单/查看
		    </a>
		    <a href="{{ ju.get_absolute_url}}" class="btn btn-info">管理</a>
		</td>
	</tr>
	{% endfor %}
    </table>
{% endblock %}

