{% extends 'ju_base.html' %}
{% block header_text %}
活动管理
{% endblock %}
{% block location_form %}
{% endblock %}
{% block ju_form_action %} {% url 'view_ju' current_ju.id %} {% endblock %}
{% block extra_content %}
    <table id="id_ju_order_list" class="table">
	<tr>
		<th style='text-align: center'>群组名称</th>
		<th style='text-align: center'>账号</th>
		{% for k,v in current_ju.sorted_items %}
		<th style='text-align: right'>{{k}}:{{v.desc|slice:"0:8"}} </th>
		{% endfor%}
		<th style='text-align: right'>金额</th>
	</tr>
	{% for list_ in current_ju.list_set.all %}
	<tr>
		<td style='text-align: center'>{{list_.owner.depart_name}}</td>
		<td style='text-align: center'>{{list_.owner.display_name}}</td>
		{% for qty in list_.qtys_by_ju %}
		<td style='text-align: right'>{{qty}}</td>
		{% endfor%}
		<td style='text-align: right'>{{list_.total_cost|floatformat:2}}</td>
	</tr>
	{% endfor %}
    </table>
{% endblock %}
