<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>凑单吧</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/base.css" rel="stylesheet">
	</head>
	<body>
	<div class="container">
	    <nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		    {% if user.is_authenticated %}
		      <div class="nav navbar-left">
		      <a href="/accounts/profile">
		        <img src="{{user.avatar}}" style="height:38px;width:38px" class="img-rounded">
		      </a>
	                账号： {{ user.display_name }}@{{user.depart_name}} 
		        <a href="{% url 'logout' %}">注销</a>
		      </div>
		    {% else %}
		      <form class="navbar-form navbar-right" method="POST" action="{% url 'send_login_email' %}">
			<span>请用邮箱登录:</span>
			{{ email_input_form.email }}
			<input type="submit" class="btn btn-primary mx-sm-2" value="发送" />
			{% csrf_token %}
			  {% if email_input_form.errors %}
			      <div class="form-group has-error">
			  	<span class="help-block">
					{{ email_input_form.email.errors }}
				</span>
			      </div>
			  {% endif%}
		      </form>
		    {% endif %}
		</div>
	    </nav>
	    {% if messages %}
	        <div class="row">
		    <div class="col-md-8">
			{% for message in messages %}
			    {% if message.level_tag == 'success' %}
			        <div class="alert alert-success">{{ message }}</div>
			    {% else %}
			        <div class="alert alert-warning">{{ message }}</div>
			    {% endif %}
			{% endfor %}
		    </div>
		</div>
	    {% endif %}
	    <div class="row">
		<div class="col-md-6 col-md-offset-3 jumbotron">
		    <div class="text-center">

{% block nav_tabs %}
<ul class="nav nav-tabs" id="myTab">
  <li><a href="{% url 'home' %}">活动</a></li>
  <li><a href="{% url 'category' %}">产品目录</a></li>
  <li><a href="{% url 'profile' %}">设置</a></li>
</ul>
{% endblock %}
		        <h4>{% block header_text %}{% endblock %}</h4>
{% block forms_before %}
{% endblock %}
{% block ju_table %}
  {% if current_ju %}
    {% if current_ju.ju_type != 'category' %}
    <h3>
    活动发起人：{{ current_ju.owner.display_name }}<br/>
    活动说明：{{ current_ju.address }}&nbsp 
    @{{ current_ju.location.name }}<br/>
    截止时间：{{ current_ju.stop_date_time|date:'Y-m-d H:i' }}<br/>
    活动状态：{{ current_ju.status_name }}    
    </h3>
    <h3><a href={% url 'next_ju' current_ju.id %}>换一个</a> &nbsp
    {% if request.user.is_authenticated %}
    <a href={% url 'list_jus' %}>活动列表</a> &nbsp
    <a href={% url 'new_ju' %}>发起活动</a>
    	{% if not current_ju.parent %}
    <a href={% url 'new_ju' p_id=current_ju.id %}>发起子活动</a>
    	{% endif %}
    {% endif %}
    </h3>
    {% else %}
    <h3>
    联系人：{{ current_ju.owner.display_name }}<br/>
    报价说明：{{ current_ju.address }}<br/>
    状态：{{ current_ju.status_name }}    
    </h3>
    <h3><a href={% url 'next_category' current_ju.id %}>换一个</a> &nbsp
    {% if request.user.is_authenticated %}
    <a href={% url 'list_categories' %}>产品报价列表</a> &nbsp
    <a href={% url 'new_ju' p_id=current_ju.id %}>发起活动</a>
    {% endif %}
    </h3>
 
    {% endif %}
    <table id="id_ju_table" class="table">
        <tr>
		<th style='text-align: center;'>代号</th>
		<th style='text-align: center;'></th>
		<th style='text-align: center;'>说明</th>
		<th style='text-align: center;'>单价</th>
		<th style='text-align: center;'>总单数</th>
	</tr>
    {% for k,v in current_ju.sorted_items %}
	<tr>
		<td style='text-align: left;'>{{ k }}
		</td>
		<td style='text-align: left;'>
	{% if v.images %}
	<a href="{{v.images.0}}"><img src="{{v.images.0}}" style="height:38px;"></a>
    	{% endif %}
		</td>
		<td style='text-align: center;'>
			{% if v.href %}
			<a href="{{v.href}}" target="_blank">
				{{ v.desc }}
			</a>
			{% else %}
				{{ v.desc }}
			{% endif %}
		</td>
		<td style='text-align: right;'>{{ v.price|floatformat:2 }} </td>
		<td style='text-align: right;'>{{ v.qty_family_sum|floatformat:2 }} </td>
	</tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
{% block forms %}
{% endblock %}
	    </div>
		</div>
            </div>
	    <div class="row">
		<div class="col-md-6 col-md-offset-3">
		        {% block table %}
		        {% endblock %}
		</div>
	    </div>
	    <div class="row">
		<div class="col-md-6 col-md-offset-3">
		        {% block extra_content %}
		        {% endblock %}
		</div>
	    </div>
	</div>`
	<script src="/static/jquery-3.2.1.min.js"></script>
	<script src="/static/list.js"></script>
	<script>
$(document).ready(function(){
    window.Superlists.initialize();
});
	</script>
	</body>
</html>
