{% extends 'base.html' %}
{% block header_text %}
    凑单活动说明：{{ current_ju.address }}<br/>
    截止时间：{{current_ju.stop_date }}
{% endblock %}
{% block extra_content %}
    <table id="id_ju_order_list" class="table">
	<tr>
		<th>群组名称</th>
		<th>账号</th>
		{% for k,v in current_ju.sorted_items %}
		<th>{{k}}:{{v.desc|slice:"0:8"}} </th>
		{% endfor%}
		<th>金额</th>
	</tr>
	{% for list_ in current_ju.list_set.all %}
	    {% if list_.owner.depart_name == owner.depart_name %}
	<tr>
		<td style='text-align: center'>{{list_.owner.depart_name}}</td>
		<td style='text-align: center'>{{list_.owner.email}}</td>
		{% for qty in list_.qtys_by_ju %}
		<td style='text-align: right'>{{qty}}</td>
		{% endfor%}
		<td style='text-align: right'>{{list_.total_cost}}</td>
	</tr>
	    {% endif %}
	{% endfor %}
    </table>
{% endblock %}
