{% extends 'ju_base.html' %}
{% block nav_tabs_jus %}
<ul class="nav nav-tabs" id="myTab">
  <li><a href="{% url 'home' %}">活动</a></li>
  <li><a href="{% url 'category' %}">产品目录</a></li>
  <li class="active"><a href="{% url 'profile' %}">设置</a></li>
</ul>
{% endblock %}
{% block header_text %}用户设置{% endblock %}
{% block location_form %}
{% endblock %}
{% block list_form %}
{% endblock %}
{% block order_form %}
{% endblock %}
{% block ju_form_action %} {% url 'profile' %} {% endblock %}
{% block ju_form_inputs %} 
{% endblock %}
{% block user_invite_form_inputs %} 
    <div class="form-group">
      <label for="{{form.display_name.id_for_label}}">{{form.display_name.label}}</label>
      {{ form.display_name }}
    </div>
    <div class="form-group">
      <label for="{{form.depart_name.id_for_label}}">{{form.depart_name.label}}</label>
      {{ form.depart_name }}
    </div>
{% endblock %}
{% block extra_content %}
    <h3>我关注的活动范围</h3>
    <ul>
	{% for l in request.user.prefered_locations %}
	<li><a href="{{ l.get_absolute_url}}">{{l.name}}</a>
		&nbsp 当前活动数({{l.active_jus_counts}}) 
		&nbsp 总活动数({{l.jus_counts}}) 
		&nbsp 订单数({{l.lists_counts}}) 
		&nbsp <a href="{% url 'unfollow' l.id %}">取消关注</a>
	</li>
	{% endfor %}
    </ul>
    <h3>所有活动范围列表</h3>
    <ul>
	{% for l in locations %}
	<li><a href="{{ l.get_absolute_url}}">{{l.name}}</a>
		&nbsp 当前活动数({{l.active_jus_counts}}) 
		&nbsp 总活动数({{l.jus_counts}}) 
		&nbsp 订单数({{l.lists_counts}}) 
		&nbsp <a href="{% url 'follow' l.id %}">关注</a>
	</li>
	{% endfor %}
    </ul>
{% endblock %}
