{% extends 'ju_base.html' %}
{% block header_text %}邀请{% endblock %}
{% block list_form %}
{% endblock %}
{% block order_form %}
{% endblock %}
{% block ju_form_action %} {% url 'user_invite' %} {% endblock %}
{% block ju_form_inputs %} 
{% endblock %}
{% block user_invite_form_inputs %} 
			 {{ form.email }}
			 <br/>
			 <h4>邀请内容</h4>
			  {{ form.memo }}
			 <br/>
			 <h4>邀请加入的群组名称</h4>
			  {{ form.group_name }}
			  {% if form.errors %}
			      <div class="form-group has-error">
			  	<span class="help-block">
					{{ form.email.errors }}
					{{ form.memo.errors }}
					{{ form.group_name.errors }}
				</span>
			      </div>
			  {% endif%}
{% endblock %}
