[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=painchjy
WorkingDirectory=/home/painchjy/sites/SITENAME/source
Environment=EMAIL_PASSWORD=SEKRIT
Environment=WECHAT_TOKEN=TOKEN
Environment=WECHAT_AES_KEY=AES_KEY
Environment=WECHAT_APPID=APPID
Environment=WECHAT_SECRET=SECRET
Environment=WECHAT_AGENTID=AGENTID
ExecStart=/home/painchjy/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
